//Sub SCSS
@import "sub-scss/variables";
@import "sub-scss/responsiveness";
@import "sub-scss/home";


//Font (Kumbh Sans)
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a,
span {
    font-family: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}