//Background colors
$backgroundGradientColor1: hsl(273, 75%, 66%);
$backgroundGradientColor2: hsl(240, 73%, 65%);

//Text colors
// (Primary)
$textColor1: hsl(14, 88%, 65%);
$textColor2:hsl(238, 29%, 16%);

// (Neutral)
$textColor3: hsl(237, 12%, 33%);
$textColor4: hsl(240, 6%, 50%);


//Divider color
$dividerColor: hsl(240, 5%, 91%);

//Box shadow data
$boxShadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);

$boxShadow2: 0px 30px 60px rgba(132, 161, 190, 0.36);